{% assign newAvariable = "biến mới"  %}

{{ newAvariable }}

<div class="custom-section">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.description }}</p>
</div>

<p>
  fbbbbbbbbbbbbbakbfkabfkabfkabfkabfkawbfkawbfkawfbkawfbawfb
</p>
{% schema %}
  {
    "name": "Section name phan dong",
    "settings": []
  }
{% endschema %}

<p>fsklhfskhfsklflsfjsfjlsfjlsjfslkfslfsalkslkfsnaslglkegjn</p>
<div class="custom-section">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.description }}</p>
</div>